/* Container */
#container {
    font-family: sans-serif;
    width:1000px;
    margin:0 auto;
    text-align: center;
    background-color: #F8F8F8; 
    position: relative;
}

/* Logo */
#logo {
    float: left;
}

/* welcomeBanner */

div#welcomeBanner {
    padding-bottom: 30px;
}

div#welcomeBanner img {
    width: 800px;
}


/* navigationMenu */

div#navigationMenu {
    float: left;
    width: 20%;
}

div#navigationMenu li {
    list-style-type: none;
    margin: 15px 0 15px 0;
    padding: 15px 0 15px 0;
}

.navi:hover {
    background-color: gray;
    font-style: italic;
}

#textMenu {
    font-style: italic;
}


/* product list */
#productList {
    width: 80%;
    margin-left: 20%;
}

.tag {
    margin-top: -15px;
}

.product {
    position: relative;
}

.product tr {
    width: 26.5%;
}

.product:hover {
    background-color: gray;
}

img.productImg {
    padding-top: 15px;
    width: 225px;
    height: 225px;
}

div.CartVisible {
    width: 225px;
    height: 225px;
    background:rgba(0, 0, 0, .75);
    opacity: 1;
    top: 15px;
    right: 21px;
    position: absolute;
}

div.CartHidden {
    width: 225px;
    height: 225px;
    background:rgba(0, 0, 0, .75);
    opacity: 0;
    top: 15px;
    right: 21px;
    position: absolute;
}

.cartImg {
    width: 200px;
    height: 191px;
    visibility: visible;
}

.price {
    color: white;
    background-color: gray;
    position:relative;
    bottom: 5px;
    visibility: hidden;
}

.product:hover .price {
    visibility: visible;
}

/* footer */

#footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: black;
    color: white;
}

/* -----------------------------------------------------------------------------------------------------*/

/* cart */

#add {
    position: absolute;
    right: 150px;
    top: 90px;
}

#delete {
    position: absolute;
    right: 20px;
    top: 90px;
}

/* Show Cart */
#cartLogo {
    position: fixed;
    float: right;
    z-index: 1;
    right: 0px;
    height: 50px;
}


